body {
  background-color: black;

}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
}

.calc-wrapper {
  background-color: white;
  width: 25%;
  border-radius: 2rem;
  padding: 0.5rem;
}

.rows {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 0.3rem;
  margin-bottom: 0.5rem;
}