body {
  background-color: black;

}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
}

.calc-wrapper {
  background-color: white;
  width: 400px;
  border-radius: 2rem;
}

.rows {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%
}